/* Google Fonts のインポート */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
    background-color: #a8dadc; /* 水色の背景色 */
    color: #ffffff; /* 白いテキスト色 */
    margin: 0;
    padding: 0;
}

header {
    background: #457b9d; /* ダークティール */
    color: #ffffff;
    padding: 1rem 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

nav ul li a:hover, nav ul li a.active {
    background: #1d3557; /* ホバー時の濃いティール */
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.main-title, .section-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #ffffff; /* 白いタイトル */
}

.content-section {
    padding: 3rem 0;
    display: none;
}

.content-section.active {
    display: block;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.text-box, .info {
    flex: 1;
    margin: 1rem;
}

.text-box h3, .info h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #ffffff; /* 白い見出し */
}

.text-box p, .info p {
    font-size: 1rem;
    color: #ffffff; /* 白いテキスト */
    line-height: 1.5;
}

.album {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.album img {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .image img {
        max-width: 100%;
    }

    .album {
        flex-direction: column;
        align-items: flex-start;
    }

    .album img {
        margin-bottom: 1rem;
    }
}

/* スライドショーのスタイル */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: .4; }
    to { opacity: 1; }
}
